$primary: #DDA15E;
$font-family-sans-serif: 'Poppins', sans-serif;

//Custom classes

.bg-white-custom {
    background-color: #FEFAE0;
}

.bg-footer-custom {
    background-color: #283618;
}

.form-control {
    padding: 0 0 !important;
   
}

.form-floating {
    padding-top: 0;
    padding-bottom: 0;
}

@import "../node_modules/bootstrap/scss/bootstrap";